.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
    background-color: #000000;
    color: #888;
    font-size: 15px;
}

.login-form {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    background-color: #181818;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #292929;
    border: 0 solid #cecece;
}

.login-form button {
    color: #0f0f0f;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    background-color: #00acc1;
    border-color: #00acc1;
    width: 100% !important;
    margin-top: 25px;
}

.login-form button:hover {
    color: #0f0f0f !important;
    background: #18c1db;
    border-color: #00d9f4;
}

.hello_xd {
    font-size: 2.3rem;
    color: #ececec;
    font-weight: 400;
    margin-bottom: 25px;
}

.text {
    color: #00acc1 !important;
    margin-bottom: 0.5rem !important;
    text-decoration: none;
    background-color: transparent;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}