<section class="login-container"> 
    <div>
        <form class="login-form" [formGroup]="loginForm" (submit)="submitLogin()">
            <div class="hello_xd">
                Welcome back!
            </div> 

            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" placeholder="Enter your email">
     
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" placeholder="Enter your password">
     
            <button type="submit" class="primary">Login</button>

            <div class="navigation-container">
                <a class="text"  routerLink="/restore">Forgot your password</a>
                <a class="text" routerLink="/register">Sign up for a new account</a>
            </div>
        </form>    
    </div>
</section>
