<section class="restore-container"> 
    <div>
        <form class="restore-form" [formGroup]="restoreForm" (submit)="submitRestore()">
            <div class="forgot_password">
                Forgot password
            </div> 
            <p class="forgot_password_description">
                We will send an email to your box, just follow that link to set your new password.
            </p>

            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" placeholder="Enter your email">
    
            <button type="submit" class="primary">Login</button>

            <div class="navigation-container">
                <a class="text" routerLink="/login">Back to sign in</a>
            </div>
        </form>    
    </div>
</section>

