<header>
  <div class="logo spin-animation">
    <a routerLink="/">
      <img src="https://cdn.worldvectorlogo.com/logos/react-1.svg">
    </a>
  </div>
  <nav class="header-menu">
    <ul>
      @for (item of headerMenuItem; track item) {
        <li>
          <a href="#">{{ item.name }}</a>
        </li>
      }
    </ul>
  </nav>
  <div class="dropdown" (click)="openDropdown()">
    <button>{{ authService.isLoggedIn() ? 'Hello, ' + authService.getLoggedUser().email : 'Account' }}</button>
    <div class="dropdown-content" [ngStyle]="{ 'display': dropdownOpen ? 'block' : 'none' }">
      <a *ngIf="authService.isLoggedIn()" (click)="authService.logout()">Logout</a>
      <a *ngIf="authService.isLoggedIn()" routerLink="/account">Your Account</a>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/login">Login</a>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/register">Register</a>
    </div>
  </div>
</header>
