/* Global styles for the whole application */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CAC0B3; /* beige */
    color: #001233; /* Deep blue */
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background: #001233; /* Deep blue */
    border-bottom: 2px solid #FF595A; /* light coral red */
    position: relative;
}

.logo img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-menu ul li {
    margin-right: 20px;
}

.header-menu ul li:last-child {
    margin-right: 0;
}

.header-menu ul li a {
    color: #FF595A; /* light coral red */
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.header-menu ul li a:hover {
    color: #fff;
    background-color: #FF595A; /* light coral red */
}

.account-dropdown {
    position: relative;
}

.account-dropdown button {
    background-color: #FF595A; /* light coral red */
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.account-dropdown button:hover {
    background-color: #FF7A5A; /* darker light coral red */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #CAC0B3; /* beige */
    border: 1px solid #FF595A; /* light coral red */
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.dropdown-content a {
    color: #001233; /* Deep blue */
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 12px 20px;
    transition: color 0.3s, background-color 0.3s;
}

.dropdown-content a:hover {
    color: #fff;
    background-color: #FF595A; /* light coral red */
}

.show {
    display: block;
}
