header {
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    background: #000000;
}

.header-menu {
    padding: 0 100px 0 100px;
    display: flex;

}

.logo img {
    height: 100px;
    width: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu ul, .header-menu ul li {
    display: flex;
}
  
.header-menu ul li a { 
    padding: 20px 20px 20px 20px;
    text-align: center;
    text-decoration: none;
    color: #969696;
    letter-spacing: 1px;
    font-size: 17px;
}

.header-menu ul li a:hover {
    color: #c8006d;
}

.account-dropdown {
    padding: 20px 20px 20px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.account-dropdown button {
    border-top: 3px solid #7a0042;
    border-right: 3px solid #7a0042;
    border-left: 3px solid #c8006d;
    border-bottom: 3px solid #c8006d;
    background-color: #000000;
    font-size: 18px;
    color: #fff;
}
  
button {
    border:none;
    border-radius:5px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#000000;
    border-radius:5px;
    /* box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4); */
    z-index: 1;
    /* min-width: 100%; */
}
  
.account-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #ffffff54;
}
