<section class="advertisements-section">
    <div class="advertisements-container">
        <span class="advertisements-container-name">ZAPOWIEDZI</span>
        <ul>
            <li *ngFor="let movie of advertisements">
                <div class="advertisements-details-container">
                    <div class="advertisements-details-picture">
                        <a href="#">
                            <img src="{{ movie.picture }}">
                        </a>
                    </div>
                    <div class="advertisements-details-title">
                        <span>{{ movie.title }} </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
