<section>
    <div class="footer-container">
        <div class="lorem-ipsum"> <b class="lorem-ipsum-title">Lorem ipsum as title</b>
            <div>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
            </div>
        </div>
        <div class="lorem-ipsum"> <b class="lorem-ipsum-title">Lorem ipsum as title</b>
            <div>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
            </div>
        </div>
        <div class="lorem-ipsum"> <b class="lorem-ipsum-title">Lorem ipsum as title</b>
            <div>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
            </div>
        </div>
        <div class="lorem-ipsum"> <b class="lorem-ipsum-title">Lorem ipsum as title</b>
            <div>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
                <a href="">Lorem ipsum as link</a>
            </div>
        </div>
    </div>
</section>
