section {
    justify-content: center;
    border: rgb(213, 29, 29) 4px solid;
    background: #000000;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lorem-ipsum {
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lorem-ipsum div {
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #969696;
}

.lorem-ipsum-title {
    color: #fff;
}
