.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #272422c2;
    color: #fff;
}

.lorem-ipsum {
    text-align: center;
}

.lorem-ipsum-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.lorem-ipsum a {
    display: block;
    color: #888;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s;
}

.lorem-ipsum a:hover {
    color: #fff;
}
