<section class="order-section">
    <form class="order-form">
      <div class="form-group">
        <label for="firstName">*IMIĘ</label>
        <input type="text" id="firstName" name="firstName" required>
      </div>
  
      <div class="form-group">
        <label for="lastName">*NAZWISKO</label>
        <input type="text" id="lastName" name="lastName" required>
      </div>
  
      <div class="form-group">
        <label for="email">*E-MAIL</label>
        <input type="email" id="email" name="email" required>
      </div>
  
      <div class="form-group">
        <label for="repeatEmail">*POWTÓRZ EMAIL</label>
        <input type="email" id="repeatEmail" name="repeatEmail" required>
      </div>
  
      <div class="form-group">
        <label for="phoneNumber">NUMER TELEFONU</label>
        <input type="tel" id="phoneNumber" name="phoneNumber">
        <span class="required-field">* = Pola wymagane</span>
      </div>
  
      <div class="button-group">
        <button type="button" class="back-button">WSTECZ</button>
        <button type="button" class="next-button">DALEJ</button>
      </div>
    </form>
  
    <div class="order-details">
      <table>
        <tr>
          <td>Rodzaj biletu</td>
          <td>Ulgowy 2D</td>
        </tr>
        <tr>
          <td>Ilość</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Cena biletu</td>
          <td>22.90 zł</td>
        </tr>
        <tr>
          <td>Opłata serwisowa</td>
          <td>2.00 zł</td>
        </tr>
        <tr>
          <td>Miejsce</td>
          <td>Rząd 6 Miejsce 12</td>
        </tr>
        <tr>
          <td>POSIADASZ VOUCHER?</td>
          <td>
            <input type="text" id="voucher" name="voucher">
            <button type="button" id="addVoucher">DODAJ KOD</button>
          </td>
        </tr>
        <tr>
          <td>Suma</td>
          <td>24.90 zł</td>
        </tr>
      </table>
    </div>
  </section>
  
  <div class="checkbox-group">
    <input type="checkbox" id="agreement" name="agreement" required>
    <label for="agreement">Przeczytałam(em) i akceptuję <a href="#" class="orange-link">Regulamin zakupu biletów on-line</a> oraz zapoznałam(em) się z <a href="#" class="orange-link">Polityką prywatności</a>.</label>
  </div>
  