.select-ticket-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #888;
  font-size: 15px;
  flex-direction: column;
}

.select-ticket-container {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background-color: #181818;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
