.repertoire {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.repertoire-menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.repertoire-menu ul li {
    margin-right: 10px;
}

.repertoire-menu ul li:last-child {
    margin-right: 0;
}

.repertoire-menu ul li button {
    background-color: #181818;
    border: 1px solid #888;
    color: #888;
    text-decoration: none;
    cursor: pointer;
    transition: border .4s;
    padding: 0.4rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 2rem;
}

.repertoire-menu ul li button:hover {
    border: 1px solid #00acc1;
    color: #00acc1; 
}

.repertoire-menu ul li button[aria-pressed="true"] {
    border: 1px solid #00acc1;
    color: #00acc1;
}
