<section class="repertoire">
    <nav class="repertoire-menu">
        <ul>
            <li *ngFor="let day of rootMoviesRepertoirePayload; let i = index">
                <button 
                    [ngClass]="'day_' + i" 
                    [attr.aria-pressed]="isPressed[i] ? 'true' : 'false'" 
                    (click)="togglePressed(i)"
                    (click)="onClick(i)"
                    (click)="onDaySelected(day.repertoireDay)"
                    >
                    
                    {{ day.repertoireDay }}
                </button>
              </li>
        </ul>
    </nav>
</section>
