<section class="register-container">
    <form class="register-form" [formGroup]="registerForm" (submit)="submitRegister()">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" placeholder="Enter your name">

        <label for="surname">Surname</label>
        <input id="surname" type="text" formControlName="surname" placeholder="Enter your surname">

        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="Enter your email">

        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" placeholder="Enter your password">
        
        <button type="submit" class="primary">Register now</button>

        <p>Already have account? <a class="text" routerLink="/login">Sign in</a></p>
    </form>
</section>
