.movie-detail-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.movie-detail-container {
    margin-left: 500px;
    margin-right: 500px;
}

.movie-detail-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .movie-detail-title h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .movie-detail-title button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .movie-detail-trailer {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .movie-detail-trailer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .movie-detail-more-information {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .movie-detail-more-information-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .movie-detail-more-information-details > div {
    display: grid;
    gap: 5px;
  }
  
  .movie-detail-more-information-details > div > div {
    display: flex;
    justify-content: space-between;
  }
  
  .movie-detail-more-information-details > div > div > div {
    font-weight: bold;
  }
  
  .movie-detail-more-information-description {
    grid-column: span 2;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .movie-detail-more-information-details-original-title,
  .movie-detail-more-information-details-genre,
  .movie-detail-more-information-details-cast,
  .movie-detail-more-information-details-director,
  .movie-detail-more-information-details-production,
  .movie-detail-more-information-details-language,
  .movie-detail-more-information-details-type {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
  }
  
  .movie-detail-more-information-details-premiere,
  .movie-detail-more-information-details-duration {
    font-weight: bold;
  }
  
  .movie-detail-more-information-details-description {
    grid-column: span 2;
  }
  
  /* Dodatkowe style dla wartości */
  .movie-detail-more-information-details-description > div {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
  }
  
  /* Dodatkowe style dla kluczy */
  .movie-detail-more-information-details-description > div > div:nth-child(1) {
    font-weight: bold;
  }
  
  

  