.order-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  color: #888;
  flex-direction: column;
}

.order-form-container {
  max-width: 800px;
  width: 100%;
  padding: 40px;
  background-color: #181818;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

span {
  display: block;
}

.checkbox-bottom-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.checkbox-bottom-container .orange-link {
  color: #ff8c00;
  text-decoration: none;
}

.checkbox-bottom-container .orange-link:hover {
  text-decoration: underline;
}
