<section class="listing">
    <div>
        <nav role="navigation">
            <div>
                <ul>
                    <li>
                        <a [routerLink]="['/repertoire']">REPERTUAR            </a>
                        <a href="">OFERTY           </a>
                        <a href="">PREZENTY         </a>
                        <a href="">BLOG         </a>
                        <a href="">UNLIMITED            </a>
                        <a href="">4DX          </a>
                        <a href="">IMAX         </a>
                        <a href="">SCREENX          </a>
                        <a href="">VIP          </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

