<section class="restore-container">
  <div>
    <form class="form" [formGroup]="restoreForm" (submit)="submitRestore()">
      <div class="title">
        Forgot password
      </div>
      <p class="forgot_password_description">
        We will send an email to your box, just follow that link to set your new password.
      </p>

      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" placeholder="Enter your email">

      <button type="submit" class="btn primary">Login</button>

      <div class="navigation-container">
        <span>Did you click wrong? <a class="text" routerLink="/login">Back to sign in</a></span>
      </div>
    </form>
  </div>
</section>

