<section class="restore-container">
  <div>
    <form class="form" [formGroup]="restoreForm" (submit)="validateAndSubmit()">
      <div class="title">
        Forgot password
      </div>
      <p class="forgot_password_description">
        We will send an email to your box, just follow that link to set your new password.
      </p>

      <div>
        <small class="p-error" *ngIf="restoreForm.get('email')?.errors?.['required'] && restoreForm.get('email')?.touched">Email is required</small>
        <small class="p-error" *ngIf="restoreForm.get('email')?.errors?.['invalidEmail'] && restoreForm.get('email')?.touched && !restoreForm.get('email')?.errors?.['required']">Email is invalid</small>
        <label for="email" [class.p-invalid]="restoreForm.get('email')?.invalid && restoreForm.get('email')?.touched">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="Enter your email">
      </div>

      <button type="submit" class="btn primary" [disabled]="!isRestoreDataValid()">Restore</button>

      <div class="navigation-container">
        <span>Did you click wrong? <a class="text" routerLink="/login">Back to sign in</a></span>
      </div>
    </form>
  </div>
</section>

