.success {
  background-color: green;
  color: white;
}

.fail {
  background-color: red;
  color: white;
}

div {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 5px;
}
