.movies-short-details {
    display: flex;
    flex-direction: column;
}

.movies-short-details div, ul {
    padding: 20px 20px 20px 20px;
}

.movies-short-details-hours {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.movies-short-details-hours li { 
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    list-style-type: none;
}

.movies-image, .movies-container {
    padding: 12px 12px 12px 12px;
}

.movies-image img {
    height: 210px;
    width: 150px;
}

.movies-container {
    display: flex;
    justify-content: center;
    background-color: #272422c2;
    padding: 20px 150px 0 150px;
}

.movies-short-details-hours a {
    background-color: #FF595A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.movies-short-details {
    color: #FF595A;
    font-size: 16px;
    font-weight: bold;
}

.movies-short-details-title {
    color: #1ed136;
    font-size: 24px; 
    font-weight: bold;
}

.movies-image, .movies-short-details {
    border-top: 5px solid black;
}