.movies-short-details {
    display: flex;
    flex-direction: column;
}

.movies-short-details div, ul {
    padding: 20px 20px 20px 20px;
}

.movies-short-details-hours {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.movies-short-details-hours li { 
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    list-style-type: none;
}

.movies-image, .movies-container{
    padding: 12px 12px 12px 12px;
}

.movies-image img {
    height: 210px;
    width: 150px;
}

.movies-container {
    display: flex;
    justify-content: center;
    border: pink 4px solid;
}

.movies-short-details-hours a {
    padding: 12px 10px;
    min-width: 64px;
    text-align: center;
    margin-bottom: 8px;
    margin-right: 4px;
    background-color: #f5821e;
    color: #000;
    border: 0;
}

.movies-short-details-title {
    color: #191919;
    font-weight: 700!important;
}