<section class="cinema-room">
  <div class="cinema-room-container">
    <div class="itle">
      Select seats
    </div>
    <div class="seats">
      <div class="rows" *ngFor="let row of createRowsArray; let rowIndex = index">
        <div class="row">
          <div
            class="seat odd"
            *ngFor="let seat of createSeatsArray; let seatIndex = index"
            (click)="selectSeat(rowIndex, seatIndex)"
            [ngClass]="{'selected': isSeatSelected(rowIndex, seatIndex)}">{{ rowIndex + 1 }} - {{ seatIndex + 1 }}
          </div>
        </div>
      </div>
    </div>
    <div class="navigate">
      <button class="btn primary" (click)="navigateToSelectTicket()">BACK</button>
      <button class="btn primary" (click)="navigateToOrderDetails()">NEXT</button>
    </div>
  </div>
</section>
