.cinema-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  
  .cinema-room-inner {
    width: 100%;
    max-width: 800px;
  }
  
  .screen {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .rows {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  
  .row {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
  }
  
  .seat {
    width: 40px;
    height: 40px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
  }
  
  .seat:hover {
    background-color: lightgreen;
  }
  
  .occupied {
    background-color: red;
  }
  
  .selected {
    background-color: #bbbbdd;
  }
  
  .navigate {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5821e;
    border: 2px black solid;
    width: 100%;
  }
