<section class="login-container">
  <div>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="validateAndSubmit()">
      <div class="title">
        Welcome back!
      </div>

      <div>
        <small class="p-error" *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">Email is required</small>
        <small class="p-error" *ngIf="loginForm.get('email')?.errors?.['invalidEmail'] && loginForm.get('email')?.touched && !loginForm.get('email')?.errors?.['required']">Email is invalid</small>
        <label for="email" [class.p-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="Enter your email">
      </div>

      <div class="password-input-container">
        <small class="p-error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password is required</small>
        <label for="password" [class.p-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password</label>
        <div class="password-input">
          <input id="password" type="{{ passwordHidden ? 'password' : 'text' }}" formControlName="password" placeholder="Enter your password">
          <span class="password-toggle-icon" (click)="togglePasswordVisibility()">
        <i class="fa" [ngClass]="{'fa-eye': passwordHidden, 'fa-eye-slash': !passwordHidden}"></i>
      </span>
        </div>
      </div>

      <button type="submit" class="btn primary" [disabled]="!isLoginDataValid()">Login</button>

      <div class="navigation-container">
        <span>Forgot password? <a class="text" routerLink="/restore">Click in</a></span>
        <span>New account? <a class="text" routerLink="/register">Sign up</a></span>
      </div>
    </form>
  </div>
</section>
