@import url("../node_modules/primeng/resources/themes/saga-orange/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

input {
  color: #ececec;
}

.dropdown {
  position: relative;
}

.title {
  font-size: 2.3rem;
  color: #ececec;
  font-weight: 400;
  margin-bottom: 25px;
}

.btn.primary {
  color: #0f0f0f;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  background-color: #00acc1;
  border-color: #00acc1;
  width: 100% !important;
  margin-top: 50px;
  cursor: pointer;
}

.btn.primary:hover {
  color: #0f0f0f !important;
  background: #18c1db;
  border-color: #00d9f4;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #292929;
  border: 0 solid #cecece;
  border: 1px solid #cecece;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background-color: #181818;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text {
  color: #00acc1 !important;
  margin-bottom: 0.5rem !important;
  text-decoration: none;
  background-color: transparent;
}

select {
  background-color: #292929;
  color: #888;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn[disabled] {
  cursor: not-allowed;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
}
