<section class="repertoire">

  <nav class="repertoire-menu">
    <ul>
      <li *ngFor="let day of repertoireService.rootMoviesRepertoirePayload; let dayIndex = index">
        <button
          [ngClass]="'day_' + dayIndex"
          [attr.aria-pressed]="repertoireService.isPressed[dayIndex] ? 'true' : 'false'"
          (click)="repertoireService.setIndexOfRepertoireDaySelected(dayIndex)"
        >
          {{ day.repertoireDay.day }}
        </button>
      </li>
    </ul>
  </nav>

  <div class="repertoire-movies">
    <div class="movies-list">
      <div class="movie" *ngFor="let movie of repertoireService.getMoviesList()">
        <div class="movies-image">
          <img [src]="movie.picture" alt="{{ movie.title }} Image">
        </div>
        <div class="movies-short-details">
          <div class="movies-short-details-title">
            <a (click)="
            repertoireService.setSelectedMovieByTitle(movie);
            repertoireService.navigateToMovieDetails(movie.id)"
            >
              {{ movie.title }} - day index: {{ repertoireService.getIndexOfRepertoireDaySelected() }}
            </a>
          </div>
          <div class="movies-short-details-genre">
            <span>{{ movie.genre }}</span>
          </div>
          <div class="movies-short-details-type">
            <span>{{ movie.type }}</span>
          </div>
          <ul class="movies-short-details-hours">
            <li *ngFor="let hour of movie.hours">
              <a (click)="
              repertoireService.setSelectedMovieByHour(movie, hour);
              repertoireService.navigateToTicket()">
                {{ hour.hour }}
              </a>
            </li>
          </ul>
          <div class="movies-short-details-language">
            <span>{{ movie.language }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
